.App {
  height: 100vh;
}

.header {
  text-align: center;
  color: #fff;
}

.content {
  align-items: center;
}

footer {
  text-align: center;
}


.difficulty-level {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.song-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}